<div class="container">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="wrapper">
            <app-championship></app-championship>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <app-race numRace="1"></app-race>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <app-race numRace="2"></app-race>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
            <app-race numRace="3"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
            <app-race numRace="4"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="5"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="6"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="7"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="8"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="9"></app-race>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <app-race numRace="10"></app-race>
            </div>
        </ng-template>
      </ngb-carousel>
</div>
