<div class="card">
    <div class="card-header">
        Datos Personales
    </div>
    <div class="card-body d-flex">
        <div>
            <img src="{{rider.picture}}" alt="">
        </div>
        <div class="pl-4">
            <h1 class="card-title">{{rider.name}}</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Edad: </strong>{{rider.age}} años</li>
                <li class="list-group-item"><strong>Equipo: </strong>{{rider.team}}</li>
                <li class="list-group-item"><strong>Mejor tiempo: </strong>{{rider.best}}</li>
            </ul>
        </div>
    </div>
</div>
